{% extends 'main.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
    <div class="row mx-auto w-75 mt-5">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label class="form-label">Author</label>
                  {{ form.author }}
                </div>
                <div class="mb-3">
                  <label class="form-label">Title</label>
                  {{ form.title }}
                </div>
                <div class="mb-3">
                  <label class="form-label">Language</label>
                  {{ form.language }}
                </div>
                <div class="mb-3">
                  <label class="form-label">Country</label>
                  {{ form.country }}
                </div>
                <div class="mb-3">
                  <label class="form-label">Link</label>
                  {{ form.link }}
                </div>
                <div class="mb-3">
                  <label class="form-label">Pages</label>
                  {{ form.pages }}
                </div>
                <div class="mb-3">
                  <label class="form-label">Year</label>
                  {{ form.year }}
                </div>
                <div class="mb-3">
                  <label class="form-label">Poster</label>
                  {{ form.poster }}
                </div>
                <div class="mb-3">
                  <label class="form-label">Available</label>
                  {{ form.is_available }}
                </div>
                {% for message in messages %}
                    {{message}}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>

{% endblock content %}